
<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Framaterial - Sidebar </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="http://framaterial.github.io/framaterial/styles/main.min.css">  
</head>
<body>
    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="material-design">

          <nav class="material-sidebar-left-in-lightblue" data-state="open"> 

            <header data-image-url="http://puu.sh/difqU/fe10904560.png">
              <div class="dropdown">
                <span class="dropdown-title">Open the list</span>
                <ul class="dp-wide">
                  <li><a href="#" class="btn-flat">Item</a></li> 
                  <li><a href="#" class="btn-flat">Item</a></li> 
                  <li><a href="#" class="btn-flat">Item</a></li>
                  <li><a href="#" class="btn-flat">Item</a></li>
                  <li><a href="#" class="btn-flat">Item</a></li>
                  <li><a href="#" class="btn-flat">Item</a></li>
                </ul> 
              </div>
            </header>
            <ul> 
              <li><a href="#" class="material-btn-flat-white">  Get started</a></li>
              <li><a href="#" class="material-btn-flat-white"> Components</a></li>
              <li><a href="#" class="material-btn-flat-white"> Javascript</a></li>
              <li><a href="#" class="material-btn-flat-white"> About</a></li>
            </ul>
            <span class="divider"></span>
            <ul> 
              <li><a href="#" class="material-btn-flat-white"> <span class="m-icon md-image-collections left"></span> Examples</a></li>
              <li><a href="#" class="material-btn-flat-white"> <span class="m-icon md-av-web left"></span> Basic template</a></li>
              <li><a href="#" class="material-btn-flat-white"> <span class="m-icon md-hardware-keyboard left"></span> source code</a></li>
              <li><a href="#" class="material-btn-flat-white"> <span class="m-icon md-social-share left"></span> Follow</a></li>
            </ul>
          </nav>

          <div class="material-container-layout">
           <select name="typeof" id="typeof">
            <option value="-left-out">left-out</option>
            <option value="-right-out">right-out</option>
            <option value="-left-in">left-in</option>
            <option value="-right-in">right-in</option>
          </select>

          <select name="colors" id="colors">
            <option value="#f44336">red</option>
            <option value="#2196F3">blue</option>
            <option value="#4caf50">green</option>
            <option value="#607d8b">grey</option>
          </select>
        </div>
      </div>

      <!-- build:js scripts/main.js -->
      <script src="../../scripts/jquery.min.js"></script>
      <script src="../../scripts/framaterial.min.js"></script>

      <script>
        $('select').on('change', function(){
          var $this = $(this)
          var value = $this.val(); 
          var side = $('[class*="sidebar"]');
          var classSide = side.attr('class');
          
          var positions = /-left-in|-left-out|-right-out|-right-in/;
          var colors = /#f44336|#2196F3|#4caf50|#607d8b/;
          
          if( positions.test(value) ){
            side.attr('class', classSide.replace(positions, value))
          } else if( colors.test(value) ){
            side.css('background', value)
          }
        });
      </script>
      <!-- endbuild -->
    </body>
    </html>




