
<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Framaterial - Sidebar </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../../styles/main.min.css">

</head>
<body>
    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="material-design">

          <nav class="material-sidebar-left-in-lightblue"> 

            <header data-image-url="http://puu.sh/difqU/fe10904560.png">
              <div class="dropdown">
                <span class="dropdown-title">Open the list</span>
                <ul class="dp-wide">
                  <li><a href="#" class="btn-flat">Item</a></li> 
                  <li><a href="#" class="btn-flat">Item</a></li> 
                  <li><a href="#" class="btn-flat">Item</a></li>
                  <li><a href="#" class="btn-flat">Item</a></li>
                  <li><a href="#" class="btn-flat">Item</a></li>
                  <li><a href="#" class="btn-flat">Item</a></li>
                </ul> 
              </div>
            </header>
            <ul> 
              <li><a href="#" class="material-btn-flat-white">  Get started</a></li>
              <li><a href="#" class="material-btn-flat-white"> Components</a></li>
              <li><a href="#" class="material-btn-flat-white"> Javascript</a></li>
              <li><a href="#" class="material-btn-flat-white"> About</a></li>
            </ul>
            <span class="divider"></span>
            <ul> 
              <li><a href="#" class="material-btn-flat-white"> <span class="m-icon md-image-collections left"></span> Examples</a></li>
              <li><a href="#" class="material-btn-flat-white"> <span class="m-icon md-av-web left"></span> Basic template</a></li>
              <li><a href="#" class="material-btn-flat-white"> <span class="m-icon md-hardware-keyboard left"></span> source code</a></li>
              <li><a href="#" class="material-btn-flat-white"> <span class="m-icon md-social-share left"></span> Follow</a></li>
            </ul>
          </nav>

          <div class="material-container-layout">
           <select name="typeof" id="typeof">
            <option value="out-left">out-left</option>
            <option value="out-right">out-right</option>
            <option value="in-left">in-left</option>
            <option value="in-right">in-right</option>
          </select>
          <select name="colors" id="colors">
            <option value="red">red</option>
            <option value="blue">blue</option>
            <option value="green">green</option>
            <option value="grey">grey</option>
          </select>
        </div>
      </div>

      <!-- build:js scripts/main.js -->
      <script src="../../scripts/jquery.min.js"></script>
      <script src="../../scripts/framaterial.min.js"></script>
      <!-- endbuild -->
    </body>
    </html>
