
<!doctype html>
<html class="no-js">
<head style="padding-bottom:30px">
  <meta charset="utf-8">
  <title>Framaterial - Buttons</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">


  <link rel="stylesheet" href="../../styles/main.min.css">  

</head>
<body>
  <div class="material-design-layout" style="float:left;padding-bottom:20px;">
    <div class="panel">
      <div class="panel-body">
        <header class="titles"> 
          <h3>Buttons</h3>
        </header>   
      </div>

      <section>
        <header>
          <h2>Raised buttons</h2>
        </header>
        <a href="javascript:void(0)" class="material-btn-red"> I'm a button </a>
        <a href="javascript:void(0)" class="material-btn-pink"> I'm a button </a>
        <a href="javascript:void(0)" class="material-btn-purple"> I'm a button </a>
        <a href="javascript:void(0)" class="material-btn-deeppurple"> I'm a button </a> 
        <a href="javascript:void(0)" class="material-btn-indigo">I'm a button</a>
        <a href="javascript:void(0)" class="material-btn-blue"> I'm a button </a>
        <a href="javascript:void(0)" class="material-btn-lightblue"> I'm a button </a>
        <a href="javascript:void(0)" class="material-btn-cyan"> I'm a button </a>
        <a href="javascript:void(0)" class="material-btn-teal"> I'm a button </a> 
        <a href="javascript:void(0)" class="material-btn-green">I'm a button</a>
        <a href="javascript:void(0)" class="material-btn-lightgreen"> I'm a button </a>
        <a href="javascript:void(0)" class="material-btn-lime"> I'm a button </a>
        <a href="javascript:void(0)" class="material-btn-yellow"> I'm a button </a>
        <a href="javascript:void(0)" class="material-btn-amber"> I'm a button </a> 
        <a href="javascript:void(0)" class="material-btn-orange">I'm a button</a>
        <a href="javascript:void(0)" class="material-btn-deeporange"> I'm a button </a>
        <a href="javascript:void(0)" class="material-btn-brown"> I'm a button </a>
        <a href="javascript:void(0)" class="material-btn-grey"> I'm a button </a>
        <a href="javascript:void(0)" class="material-btn-bluegrey"> I'm a button </a> 
        <a href="javascript:void(0)" class="material-btn disabled">I'm a button</a>

        <header>
          <h2>Flat Buttons</h2>
        </header>
        <a href="javascript:void(0)" class="material-btn-flat btn-blue">I'm a button</a>
        <a href="javascript:void(0)" class="material-btn-flat btn-red">I'm a button</a>
        <a href="javascript:void(0)" class="material-btn-flat btn-green">I'm a button</a>
        <a href="javascript:void(0)" class="material-btn-flat btn-orange">I'm a button</a>
        <a href="javascript:void(0)" class="material-btn-flat btn-cyan disabled">I'm a button</a>
        <header>
          <h2>Buttons with icons</h2>
        </header>

        <a href="javascript:void(0)" class="material-btn-red "><span class="m-icon md-navigation-cancel right "></span> Remove</a>

        <a href="javascript:void(0)" class="material-btn-blue "><span class="m-icon md-content-add right "></span> Add</a>

        <a href="javascript:void(0)" class="material-btn-cyan "><span class="m-icon md-maps-my-location right "></span> My location</a>

        <a href="javascript:void(0)" class="material-btn-yellow "><span class="m-icon md-social-notifications-on right "></span> Notifications</a>

        <a href="javascript:void(0)" class="material-btn-orange "><span class="m-icon md-image-switch-camera right "></span> Switch Camera</a>

        <a href="javascript:void(0)" class="material-btn-teal "><span class="m-icon md-action-stars right "></span> Star it</a>

        <header>
          <h2>Flat Buttons with icons</h2>
        </header>

        <a href="javascript:void(0)" class="material-btn-flat-red "><span class="m-icon md-navigation-cancel right "></span> Remove</a>

        <a href="javascript:void(0)" class="material-btn-flat-blue "><span class="m-icon md-content-add right "></span> Add</a>

        <a href="javascript:void(0)" class="material-btn-flat-cyan "><span class="m-icon md-maps-my-location right "></span> My location</a>

        <a href="javascript:void(0)" class="material-btn-flat-yellow "><span class="m-icon md-social-notifications-on right "></span> Notifications</a>

        <a href="javascript:void(0)" class="material-btn-flat-orange "><span class="m-icon md-image-switch-camera right "></span> Switch Camera</a>

        <a href="javascript:void(0)" class="material-btn-flat-teal "><span class="m-icon md-action-stars right "></span> Star it</a>

        <header> 
          <h2>Buttons Float</h2>
        </header>

        <a href="javascript:void(0)" class="material-btn-float-red"> <span class="m-icon  md-action-accessibility"></span> </a>
        <a href="javascript:void(0)" class="material-btn-float-pink"> <span class="m-icon  md-action-account-balance"></span> </a>
        <a href="javascript:void(0)" class="material-btn-float-purple"> <span class="m-icon  md-action-account-balance-wallet"></span> </a>
        <a href="javascript:void(0)" class="material-btn-float-deeppurple"> <span class="m-icon  md-action-accessibility"></span> </a> 
        <a href="javascript:void(0)" class="material-btn-float-indigo"><span class="m-icon  md-action-account-box"></span></a>
        <a href="javascript:void(0)" class="material-btn-float-blue"> <span class="m-icon  md-action-account-child"></span> </a>
        <a href="javascript:void(0)" class="material-btn-float-lightblue"> <span class="m-icon  md-action-account-circle"></span> </a>
        <a href="javascript:void(0)" class="material-btn-float-cyan"> <span class="m-icon  md-action-add-shopping-cart"></span> </a>
        <a href="javascript:void(0)" class="material-btn-float-teal"> <span class="m-icon  md-action-alarm"></span> </a> 
        <a href="javascript:void(0)" class="material-btn-float-green"><span class="m-icon  md-action-accessibility"></span></a>
        <a href="javascript:void(0)" class="material-btn-float-lightgreen"> <span class="m-icon  md-action-android"></span> </a>
        <a href="javascript:void(0)" class="material-btn-float-lime"> <span class="m-icon  md-action-announcement"></span> </a>
        <a href="javascript:void(0)" class="material-btn-float-yellow"> <span class="m-icon  md-action-aspect-ratio"></span> </a>
        <a href="javascript:void(0)" class="material-btn-float-amber"> <span class="m-icon  md-action-assessment"></span> </a> 
        <a href="javascript:void(0)" class="material-btn-float-orange"><span class="m-icon  md-action-assignment"></span></a>
        <a href="javascript:void(0)" class="material-btn-float-deeporange"> <span class="m-icon  md-action-autorenew"></span> </a>
        <a href="javascript:void(0)" class="material-btn-float-brown"> <span class="m-icon  md-action-backup"></span> </a>
        <a href="javascript:void(0)" class="material-btn-float-grey"> <span class="m-icon  md-action-book"></span> </a> 
        <a href="javascript:void(0)" class="material-btn-float-bluegrey"> <span class="m-icon  md-action-accessibility"></span> </a> 
        <a href="javascript:void(0)" class="material-btn-float disabled"><span class="m-icon  md-action-bug-report"></span></a>
      </section>
    </div>


  </div>
  <script src="../../scripts/jquery.min.js"></script>
  <script src="../../scripts/framaterial.js"></script>
  <script src="../../scripts/main.js"></script>

</body>
</html>