
<!doctype html>
<html class="no-js">
<head style="padding-bottom:30px">
  <meta charset="utf-8">
  <title>Framaterial -  Inline Lists</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">


  <link rel="stylesheet" href="http://framaterial.github.io/framaterial/styles/main.min.css">  

</head>
<body >
  <div class="material-design-layout" style="padding-bottom:20px;">


    <div class="bit-1">

      <header>
        <h2>Inline Lists</h2>
      </header>
    </div>


    <div class="bit-1">
      <div class="bit-2">
        <header>
          <h3>Simple inline list</h3>
        </header>
        <section>
        <ul class="material-inline-list">
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
          </ul>
        </section>
      </div>
      <div class="bit-2">
        <header>
          <h3>Colored inline list</h3>
        </header>
        <section>
        <ul class="material-inline-list-red">
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
          </ul>
          <span class="divider"></span>
          <ul class="material-inline-list-blue">
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
          </ul>
          <span class="divider"></span>
          <ul class="material-inline-list-green">
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
          </ul>
        </section>
      </div>
  </div>

 <div class="bit-1">

      <header>
        <h2>Animated Lists</h2>
      </header>
    </div>


    <div class="bit-1">
      <div class="bit-2">
        <header>
          <h3>Simple inline list animated</h3>
        </header>
        <section>
        <ul class="material-inline-list hierarchical-timing">
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
          </ul>
        </section>
      </div>
      <div class="bit-2">
        <header>
          <h3>Colored inline list animated</h3>
        </header>
        <section>
        <ul class="material-inline-list-red hierarchical-timing">
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
          </ul>
          <span class="divider"></span>
          <ul class="material-inline-list-blue hierarchical-timing">
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
          </ul>
          <span class="divider"></span>
          <ul class="material-inline-list-green hierarchical-timing">
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
          </ul>
        </section>
      </div>
  </div>



</div>


<script src="../../scripts/jquery.min.js"></script>
<script src="../../scripts/framaterial.js"></script>
<script src="../../scripts/main.js"></script>

</body>
</html>