
<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Framaterial - Divider </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="../../styles/main.min.css">

</head>
<body>
    <!--[if lt IE 10]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="material-design">
         
         <header>
           <h2>Divider</h2>
           <p>The dividers are made to provide a classy way to separate lines, divs, or any other elements : sidebar, headers, panels.. </p>
         </header>

         <span class="divider"></span>

        </div>

        <!-- build:js scripts/main.js -->
        <script src="../../scripts/jquery.min.js"></script>
        <script src="../../scripts/framaterial.min.js"></script>
        <!-- endbuild -->
      </body>
      </html>
